@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANT TABLE CUSTOM ROW COLORS */
.row-even {
	background-color: #f9f9f9; /* Light gray */
}

.row-odd {
	background-color: #e9e9e9; /* Slightly darker gray */
}

/* Quill editor text area min height */
.ql-editor {
	min-height: 200px;
}

select {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.classicArrow {
	background-image: linear-gradient(45deg, transparent 50%, black 50%),
		linear-gradient(135deg, black 50%, transparent 50%),
		linear-gradient(to right, #cfb9af00, #cacaca00);
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	position: relative;
}

.services:hover > ul {
	display: flex;
}

.innerMenu:hover ul {
	display: flex;
	/* opacity: 100;
    transform: translateX(0); */
}

.innerMenuHidden ul {
	display: none;
	/* opacity: 100;
    transform: translateX(0); */
}

.bgImage {
	background-color: #f7efea;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

@media screen and (max-width: 880px) {
	.bgImage {
		background-image: none;
		background-color: #f7efea;
	}
}

.blob {
	border-radius: 50% 50% 70% 30% / 68% 67% 33% 32%;
	width: 300px;
	height: 400px;
}

.newBg {
	background: #2a7b9b;
	background: linear-gradient(
		150deg,
		rgba(42, 123, 155, 0.74) 0%,
		rgba(247, 239, 234, 1) 70%
	);
}

.newBg2 {
	background-color: hsla(23, 44%, 94%, 1);
	background-image: radial-gradient(
			at 91% 48%,
			rgb(238, 227, 227) 0px,
			transparent 50%
		),
		radial-gradient(at 62% 66%, hsla(23, 65%, 89%, 1) 0px, transparent 50%),
		radial-gradient(at 3% 18%, hsla(23, 10%, 85%, 1) 0px, transparent 50%);
}

/* KEEN SLIDER */

.navigation-wrapper {
	position: relative;
	padding: 20px;
	border-radius: 20px;
	border: none;
	/* background-color: #f7efea; */
	margin-top: 20px;
}

.dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
}

.dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.dot:focus {
	outline: none;
}

.dot.active {
	background: #000;
}

.arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #fff;
	cursor: pointer;
}

.arrow--left {
	left: 5px;
}

.arrow--right {
	left: auto;
	right: 5px;
}

.arrow--disabled {
	fill: rgba(255, 255, 255, 0.5);
}
